@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Dancing+Script&family=Edu+NSW+ACT+Foundation:wght@500&family=Edu+VIC+WA+NT+Beginner&family=Kanit:ital,wght@1,200&family=Lobster&family=PT+Sans:wght@400;700&family=Roboto:wght@300;400&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color:dodgerblue ;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container>h2{
    color:black;
    font-family: 'Dancing Script', cursive;
    margin-left: -20px;
}

.click-items{
  /* align-items: center; */
  width: 249px;
  display: flex;
  flex-wrap: wrap;
}

.items:not(#zero,#clear,#delete){
  border: none;
  width: 50px;
  height: 50px;
  background-color: grey;
  border: 1px solid black;
}

#zero,#clear{
  width: 100px;
  height: 50px;
  border: 1px solid black;

}

#clear{
  background-color: brown;
}
#zero{
  background-color: burlywood;
}
#delete{
  width: 50px;
  height: 50px;
  background-color:cadetblue;
  border: 1px solid black;

}

.items:hover{
  color: wheat;
  box-shadow: 0 2px #666;
  transform: translateY(-1px);
}

/* #display{
  height: 50px;
  width: 100px;
  background-color: blueviolet;
} */

#answer{
  height: 50px;
  width: 100px;
  background-color: chartreuse;
}

#output{
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#display{
  border: 0px;
  font-size: 15px;
  color: antiquewhite;
  background-color:darkslategray;
}